.nav {
    max-width: 375px;
    display: grid;
    margin: 20px;
    justify-content: space-between;
    padding-top:1px ;
}

.dropdown>.btn:active {
    border: none;
    outline: none;
}

.header{
    padding-top: 60px;
}
.header__heading {
    text-align: center;
}
.header__heading span:nth-child(1){
    font-family: 'Source Serif Pro' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -4%;
    color: #000000;
}

.header__heading span:nth-child(2) {
    font-family: 'Radio Canada Big', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -2%;
    hanging-punctuation: first last;
    color: #000000;
}


